* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #2B2B2B;
  line-height: 1.6;
  background: #FBF3F1;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

a {
  color: #bf229dfe;
}

/* Navigasi */
header {
  background: #D98C82;
  padding: 15px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}

/* HERO */
.hero {
  text-align: center;
  padding: 60px 0 40px;
  
}
.profile-photo {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 16px;
  object-fit: cover;
  margin: 0 auto 20px;
  border: 3px solid #3391b0;
}

.hero h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.hero p {
  color: #555;
}

/* Section */
.section {
  padding: 40px 0;
  border-top: 1px solid #ddd;
}

.section h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

/* Grid mmpu, proyek */
.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.box {
  background: #D98C82;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 6px;
}

.box h3 {
  margin-bottom: 8px;
}

.box a {
  display: inline-block;
  margin-top: 10px;
}

/* kntak */
.contact-list {
  list-style: none;
  margin-top: 15px;
}

.contact-list li {
  margin-bottom: 8px;
}

/* Footer */
footer {
  background: #D98C82;
  color: #2B2B2B;
  text-align: center;
  padding: 15px 0;
  margin-top: 20px;
}

/* MEDIA QUERY: TABLET */
@media (max-width: 768px) {
  .grid-3 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* MEDIA QUERY: HP */
@media (max-width: 480px) {
  nav {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  .nav-links {
    flex-wrap: wrap;
    justify-content: center;
  }

  .hero h1 {
    font-size: 24px;
  }

  .grid-3 {
    grid-template-columns: 1fr;
  }
}
